
.toggle-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  color: rgb(83, 142, 208);
}

.toggle-button.active {
  background-color: #dd60c6;
  color: white;
  border-radius: 5px;
}

#btn-bar {
  background-color: #f29ee3;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-dash {
  background: radial-gradient(circle, rgb(234, 156, 189) 0%, rgb(130, 176, 229) 100%);
  border-radius: 10px;
}
.card-dash.flipped {
  transform: rotateY(180deg);
}


.card-dashboard {
  background: radial-gradient(circle, rgb(234, 156, 189) 0%, rgb(130, 176, 229) 100%);
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  .header-dash-booking {
    border-bottom: 1px solid white;
  }
}

.card-dashboard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.3s;
}

.content {
  display: none;
}
.show {
  display: block;
  opacity: 1; // ici

  .card-dash-container {
    perspective: 1000px;
}
}
