.show-container{
  width: 100vh;
  margin: 0 auto;
  .house-content{
    width: 100%;
    .container-house-image{
      height: 50vh;
      display: flex;
      gap: 10px;
      .main-image{
        flex: 1;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .secondary-images{
        flex: 1;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
    .house-main{
      margin-top: 50px;
      display: flex;
      gap: 10px;
      .house-data{
        flex: 1.2;
        .house-host{
          i{
            font-size: 30;
          }
        }
        .specifications{
          display: flex;
          justify-content: space-between;
          p{
            font-size: 20px;
            i{
              font-size: 30px;
              color: rgb(255, 0, 106);
            }
          }
        }
      }
      .booking-form{
        flex: .8;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
        background: rgba(255, 0, 106, 0.034);
        .btn-reservation{
          input{
            width: 100%;
            background: rgb(255, 0, 106);
            color: #FFF;
            border: 2px solid rgb(255, 0, 106);
            border-radius: 2px;
          }
        }
      }
    }
  }
}
