body{
  font-family: 'Montserrat';
}
.show-container{
  margin-inline: 9rem;
  margin-top: 2rem;
  .house-content{
    width: 85rem;
    margin: auto;
    .container-house-image{
      height: 50rem;
      display: flex;
      gap: 10px;
      margin-inline: auto;
      width: 65rem;
      .main-image{
        flex: 1;
        height: 100%;
        img{
          width: 100%;
          height: 50rem;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .secondary-images{
        flex: 1;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
    .house-main{
      margin-top: 50px;
      display: flex;
      gap: 10px;
      .house-data{
        flex: 1.2;
        .house-host{
          i{
            font-size: 20px;
            color: rgb(255, 0, 106);
          }

        }
        .specifications{
          display: flex;
          justify-content: space-evenly;
          p{
            font-size: 10px;
            i{
              font-size: 20px;
              color: rgb(255, 0, 106);
              filter: grayscale(17%);
            }
          }
        }
      }
      .booking-form{
        margin: 1rem;
        flex: .8;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
        background: rgba(255, 0, 106, 0.034);
        .btn-reservation{
          input{
            width: 100%;
            background: rgb(255, 0, 106);
            color: #FFF;
            border: 2px solid rgb(255, 0, 106);
            border-radius: 2px;
          }
        }
      }
    }
  }
}
h1{
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Bartex";
  text-shadow:
  -2px 3px 0 #FF00BF,
   1px -1px 0 #FF00BF,
  -1px  1px 0 #FF00BF,
   1px  1px 0 #FF00BF;
}
