<h1> Houses</h1>
<ul>
  <% @houses.each do |house| %>
  <li><%= link_to(house.name, house_path(house.id )) %></li>
  <% end %>
</ul>


<%= link_to 'dashboard', dashboards_path %>

<div class="m-2" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

