<h1>Booking Confirmation</h1>
    <p>Dear <%= @user.name %>,</p>
    <p>Your booking request for <%= @house.name %> has been received.</p>
    <p>Arrival Date: <%= @booking.arrival_date %></p>
    <p>Departure Date: <%= @booking.departure_date %></p>
    <p>We will contact you shortly with more details.</p>
    <p>Thank you for using our service!</p>
