<div class="card">
  <div class="card-header">
    <%= house.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Status : <%= house.bedroom %></h5>
    <p class="card-text">Arrival : <%= house.bed %></p>
    <%= link_to "See more", house %>
  </div>
</div>
