<%# <h3>DASHBOARD</h3> %>
<%# utiliser current_user %>

<div class="container">

<div id="btn-bar">
  <button id="button1" class="btn active toggle-button"><i class="fa-solid fa-calendar-check"></i> Reservations </button>
  <button id="button2" class="btn toggle-button"><i class="fa-solid fa-house-circle-check"></i> Houses</button>
</div>

<%# Mes réservations %>
<div id="div1" class= "content show">
<div class="d-flex gap-2">
  <% @bookings.each do |booking| %>
    <%= render 'bookings/booking', booking: booking %>
  <% end %>
</div>
</div>

<%# Mes maisons en location %>
<div id="div2" class="content">
<div class="d-flex gap-2">
  <% @houses.each do |house| %>
    <%= render 'dashboards/house', house: house %>
  <% end %>

</div>

</div>
