.logo-nav{
  width: 15rem;
  margin-left: 5rem;
  margin-top: -3rem;
}

// .main-image{
//   width: 40rem;
// }

.house-image{
  width: 20rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -1.5rem;
  border: 1px solid rgba(255,255,255, 0.255);
  aspect-ratio: 2/2;
  object-fit: cover;
  object-position: center;
}
