.menu-icon{
  display: block;
  position: relative;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  a {
    text-decoration: none;
    color: #e0218a;
    transition: all 0.3s ease;
    &:hover {
      color: hotpink  ;
    }
  }
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  span {
    position: relative;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #e0218a;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

.menu-icon {
  input {
    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #e0218a;
      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }
    &:checked ~ .menu-links {
      transform: none;
    }

  }
}

.menu-links {
  position: absolute;
  width: 20rem;
  padding: 3rem;
  padding-top: 10rem;
  background: #eeaeca;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li {
    padding: 10px 0;
    font-size: 22px;
  }
}

.menu-burger {
  border-bottom: 1px solid #000;
  .menu-icon {
    position: fixed;
    right: 0;
    input {
      right: 8rem;
    }
    span {
      right: 8rem;
    }
  }
  .menu-links {
    right: 0;
    margin: -100px 0 0 0;
    transform: translate(100%, 0);
    li {
      a {
        &:hover {
          padding-left: 5px;
        }
      }
    }
  }
}

.hosting-link{
  position: fixed;
  top: 4.5rem;
  right: 15rem;
}

.link-hosting {
  text-decoration: none;
  font-family:"Montserrat";
  color: #232323;
  transition: all 0.3s ease;
  &:hover {
    color: #e0218a;
  }
}


//SEARCH BAR

.search-container .form-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: pink;
  width: 50rem;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 2rem;

}

.primary-btn {
  background-color: #e0218a;
  color: white;
  border-radius: 100%;
  margin-right: -4rem;
}

.primary-btn:hover {
  background-color: #eeaeca;
}

.no-pad-left-10 {
  padding-left: 10px;
}

.search-input{
  width: 14rem;
}

.input-search{
  border: none;
  background-color: pink;
}
